<html>
<head>
<title>首页--车辆实时调度系统v0.3</title>
<meta charset="utf-8" />
</head>
<div style="text-align:center">
<h1>车辆实时调度系统v0.3</h1>
<h2><a target="_blank" href="http://116.62.171.54:8080/manbike0.3/index.php/Home/Index/init">初始化</a></h2>
<h2><a target="_blank" href="http://116.62.171.54:8080/manbike0.3/index.php/Home/Index/sub_form">提交车辆出入信息</a></h2>
<h2><a target="_blank" href="http://116.62.171.54:8080/manbike0.3/index.php/Home/Index/sub__realtime_form">提交车位信息</a></h2>
<h2><a target="_blank" href="http://116.62.171.54:8080/manbike0.3/index.php/Home/Index/map">显示</a></h2>
<h2><a target="_blank" href="http://116.62.171.54:8080/manbike0.3/index.php/Home/Index/message_list">历史消息记录</a></h2>
</div>
</html>